.leaflet-map-wrapper {
   position: relative;
   width: 100%;
   height: 100%; /* Initial height */
   max-height:1000px ;

   overflow: hidden;
 }
  .leaflet-map {
   width: 100%;
   height: 100%;

 }
  /* .resizer {
   height: 10px;
   background: rgba(0, 0, 0, 0.2);
   cursor: row-resize;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   z-index: 10;
 } */
  .tututu {
  
  
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #262626;
   /* resize */
   cursor: row-resize;
   width: 100%;
   height: 10px;


  }
  .tututu:hover {
   background-color: #33ccff;
   opacity: 0.5;
  }
  .sub-tututu {
     width: 130px;
     height: 10px;
     background-color: transparent;
     display: flex;
     align-items: center;
     justify-content: center;
     cursor: row-resize;
  }
  .resizer {
   cursor: row-resize;
   width: 120px;
   height: 4px;
   border: 2px ;
   background: #8C8C8C;
   border-radius: 4px;


  }
  .resizer.active {
   background: #888;
 }
 
