.imgpanzoom-container {
  position: relative;
  height: 100%;

}
.imagepanzoom {
  position: relative;
  display: inline-block;
  cursor: move;
  width: 244px;
  height: 160px;
  border: none;
  overflow: hidden;

  .points-layer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
}

.image-point {
  position: absolute;
  width: 28px;
  height: 28px;
  flex-shrink: 0;
  background-image: url('../assets/icons/marker-icon-new.svg') !important;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;

  .imagepanzoom & { 
    $point-size: 20px;
    height: $point-size;
    width: $point-size;
    margin: -resolve($point-size / 2) 0 0 -resolve($point-size / 2);
  }

  .actions {
    display: none;
    position: absolute;
    background: white;
    left: 100%;
    top: 50%;
    margin-left: 10px;
    border-radius: 4px;
    transform: translateY(-50%);


    ul {
      padding: 5px;
      margin: 0;
      list-style: none;
font-weight: 500;
       
    
    }

    ul:after {
      content: ' ';
      position: absolute;
      display: block;
      top: 50%;
      right: 100%;
      width: 0;
      height: 0;
      border: solid transparent;
      pointer-events: none;
      transform: translateY(-50%);
      border: 8px solid transparent; /* arrow size */
  border-right-color: rgba(38, 38, 38, 0.50); 
       
   
      border-width: 8px;
      transform: translateY(-50%);
     
    }

    li {
      line-height: 1;
    }

    li + li {
      margin-top: 2px;
    }

    a {
      display: block;
      padding: 1px 8px;
      color: #FFF;
      text-align: center;
      font-family: Montserrat;
      font-size: 12px;
      font-style: normal;
      font-weight: 600 !important;
      line-height: normal;

    
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    .lock {
      display: none;
    }
  }

  &.highlighted {
    $point-size: 40px;
    height: $point-size;
    width: $point-size;
    margin: -resolve($point-size / 2) 0 0 -resolve($point-size / 2);
  }

  &.active,
  &.active.automatic {
    .actions {
      display: block;
   
      display: flex;
      padding: 4px 6px;
      justify-content: center;
      align-items: center;
      flex: 1 0 0;
      align-self: stretch;
      border-radius: 4px;
background: rgba(38, 38, 38, 0.50);
    }
  }

  &.automatic {
    .actions li.lock {
      display: block;
    }
  }

  &.joined {
    background-image: url('../assets/icons/gcp-green.png');
  }
                                                                                                                                                                    
  &.automatic {
    background-image: url('../assets/icons/gcp-yellow.png');
  }

  .imagepanzoom &.draggable:after {
    width: 31px;
    height: 20px;
    left: 9px;
  }

  .image-point-label {
    background: rgba(156, 156, 156, 0.65);
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin-top: -20px;
    text-align: center;

  }
}
